@use "editPopMedia";

.leaflet-popup-content {

  width: 120%;
  margin: 20px 18px;

  p:last-of-type {
    margin-bottom: 4%;
  }

  .classroom-infos {
    p {
      margin-left: 4%;
      margin-top: 0;
      margin-bottom: 2%;
    }
  }

  .extra-group {
    h3 {
      margin-top: 2%;
      text-align: center;
    }
    div.notRuledField {
      margin-top: 0;
    }
  }

  .ant-row{
    flex-flow: row;
    margin-bottom: 5px;
  }

  .ant-form-item-label {
    flex-basis: 30%;
    margin-right: 10px;
  }

  hr {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .div-buttons-popup {
    .popup-buttons {
      box-shadow: none;
      color: white;
      background-color: green;
      margin-bottom: 0px;
    }
    .popup-buttons:first-child {
      background-color: red;
      color: white;
      margin-right: 2px;
    }
  }
}
