@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

.leaflet-popup-content {

  font-family: 'Open Sans Condensed';
  font-weight: bold;
  font-size: medium;

  .prenote-class{
    border-radius: 5px;
    color: white;
    background-color: #6157F5;
    margin-bottom: 0;
    box-shadow: none;
  }

  .classroom-infos {
    a {
      color: #333;
    }
  }

  .margin-bottom {

    p:last-of-type {
      margin-bottom: 3%;
    }
  }

  .sub-info-hidden {
    visibility: hidden;
    display: none;
    height: 0%;
  }

  .sub-info-visible {
    visibility: visible;
    margin-left: 3%;
    margin-bottom: 7%;

    p {
      margin: 1% 0;
      font-size: small;
    }
  }

  div.class-buttons{
    button {
      margin-top: 2%;
    }
  }

  .notes {
    h3 {
      text-align: center;
    }
    p {
      font-size: smaller;
      white-space: pre-line;
    }
  }

  div.receptions{
    p{
      margin-bottom: 0;
    }
  }

}

.modal-title{
  text-align: center;
}

.ant-modal-body{
  .first-list{
    overflow-y: scroll;
    height: 60vh;
  }
}
