@use "variables";
@use "mediaQueries";

.appbar-title {
    background-color: #4285f4;
    width: auto;

    .ant-typography {
      text-align: center;
      color: white;
    }

  .ant-typography {
    margin: 0;
    padding: 2%;
  }
}

.header {
  h1 {
    margin-top: 2%;
    font-family: variables.$font-family;
  }
}

.bottom-header {
  padding: 2% 1%;
  text-align: center;

  .h4 {
    font-size: xx-large;
    font-family: variables.$font-family;
    margin-bottom: 2%;
  }

  hr {
    margin: 0 0 5% 0;
  }
}

