@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

$black     : #000;
$dark-grey : #333;
$dark-grey-2: #4B4D52;
$dark-grey-3: #5F6A72;
$dark-grey-4: #738A90;
$grey      : #404040;
$hover_color: #F5F5DC;
$light-grey: #f1f1f1;
$white     : #fff;
$start_color: #C2D2BD;
$end_color: #2F4858M;
$aside_background: #93B0A3;
$logout_button: #620024;
$height    : calc((100% * 16)/9);

$main-font: 'Open Sans Condensed', sans-serif;
$secondary-font: 'Marmelad', sans-serif;
$font_size: 2rem;

$bg: #2f2f2f;
$fg: #06c17f;
$border-width: .5rem;
$corner-size: 3rem;
$dur: .3s;
