
/*----------- background -----------*/

.BackgroundImg {
  background-image: url('/src/assets/Campus-Cesena.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-position:center;

  position: fixed;
  display: block;
  left: 0;
  right: 0;

  filter: blur(4px);
  -webkit-filter: blur(4px);
}
