@use "./variables";

//media per schermo fra 1280 e 1600
@media (min-width: variables.$breakpoint-desktop-screen) and (max-width: variables.$breakpoint-hd-screen) {

  hr {
    @include variables.resizable_hr(5%)
  }

  .main-container {
    .card {

      text-align: center;
      display: inline-block !important;

      h3 {
        width: 100%;
        height: auto;
        display: inline-block;
        margin-bottom: 0%;
      }

      padding-bottom: 2%;
      background-color: black;
      width: 100%;
      height: 30%;

      img.avatar-holder {
        width: 75%;
        height: 75%;
        top: 0;
        left: 0;
        margin-left: 13%;
        margin-right: 20%;
        position: relative;
      }

      margin-bottom: 20%;

    }

    button.corner-button {
      padding: 2%;
    }

    button.logout-button {
      margin-top: 45%;
    }
  }
}

//per schermi fino al monitor sd: tablet e telefoni
@media (max-width: variables.$breakpoint-desktop-screen){

  div#map {
    .leaflet-control-layers-base{
      label {
        div {
          input[type="radio"] {
            width: 11px;
            height: 11px;
            border-radius: 50px;
            left: 0;
            top: 0;
            z-index: -1;
            background-color: gradient(variables.$dark-grey, variables.$dark-grey-4);
          }
          span {
            font-family: variables.$main-font;
            text-transform: uppercase;
            font-size: medium;
            margin-left: 5px;
          }
        }
      }
    }
  }

  header {
    #drawer {
      left: 0px;
      bottom: -86%;
      display: inline-block;
      height: 10%;
      width: 100%;
      padding-bottom: 0%;

      h1 {
        margin-bottom: 5%;
      }

      button {
        box-shadow: variables.$shadow_box_mobile;
      }

      .card {
        visibility: hidden;
        height: 0;
        margin: 0;
        h3 {
          visibility: hidden;
          margin-bottom: 0%;
        }
      }

      button.corner-button {
        margin: 0 0 1.3% 0;
        padding: 0%;
        height: 13%;

        span {
          width: 100%;
          height: 100%;
          display: block;
          text-align: center;
          font-size: 65%;
        }
      }
    }
  }

  .leaflet-control-zoom {
    margin-bottom: 2.2em !important;
  }

  header {
    text-align: center;
    #drawer-toggle-label {
      width: 50px;
      height: 50px;
      font-size: small;
    }
  }

  .main-container {
    #drawer-toggle-label {
      left: 86%;
    }

    button {
      visibility: hidden;
      opacity: 0;
      @include variables.transition
    }

    #drawer-toggle:checked ~ nav > button {
      visibility: visible;
      opacity: 1;
    }

    #drawer-toggle:checked ~ #drawer {
      height: 37%;
    }

    #drawer-toggle:checked ~ #drawer {
      left: 0px;
    }

    #drawer-toggle:checked ~ #page-content {
      margin-left: 86%;
    }

    #drawer-toggle:checked ~ #drawer-toggle-label,
    #drawer-toggle:checked ~ header {
      left: 86%;
    }

  }

}

//smartphone lunghi
@media screen and (min-device-height: variables.$breakpoint-height-phone)
              and (max-width: variables.$breakpoint-mobile-screen){

  .main-container {
    #drawer {

      button.corner-button {
        margin: 0 0 2% 0;
        padding: 0%;
        height: 13%;

        span {
          width: 100%;
          height: 100%;
          display: block;
          text-align: center;
          font-size: 65%;
        }
      }
    }
    #drawer-toggle:checked ~ #drawer {
      height: 32%;
    }
  }

}

//tablet lunghi
@media screen and (min-device-height: variables.$breakpoint-height-phone)
and (min-width: variables.$breakpoint-mobile-screen)
and (max-width: variables.$breakpoint-desktop-screen) {

  .main-container {
    #drawer {
      button.corner-button {
        margin-bottom: 3%;

        span {
          font-size: 80%;
          padding-top: 1%;
        }
      }
    }

    #drawer-toggle-label {
      left: 94%;
    }

    #drawer-toggle:checked ~ #drawer-toggle-label,
    #drawer-toggle:checked ~ header {
      left: 94%;
    }

  }

}
