@use "./variables";

//per schermi fino al laptop sd: tablet e telefoni
@media (max-width: 1024px){

  div#map {
    .leaflet-control-layers-base{
      label {
        div {
          input[type="radio"] {
            width: 11px;
            height: 11px;
            border-radius: 50px;
          }
          span {
            font-family: variables.$main-font;
            text-transform: uppercase;
            font-size: medium;
            margin-left: 5px;
          }
        }
      }
    }
  }
  header {
    .drawer {
      width: 100%;
      padding-bottom: 0%;
      button.corner-button {
        margin: 0 0 1.5% 0;
        padding: 0%;
        height: 13%;
        box-shadow: variables.$shadow_box_mobile;
        span {
          width: 100%;
          height: 100%;
          display: block;
          text-align: center;
          font-size: 65%;
        }
      }
      .card {
        display: none;
      }
    }
  }
  .leaflet-bottom {
    .leaflet-control-zoom {
      margin-bottom: 60%;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1800px) {

  hr {
    @include variables.resizable_hr(5%)
  }

  .main-container {
    .card {
      text-align: center;

      h3 {
        width: 100%;
        height: auto;
        display: inline-block;
        margin-bottom: 0%;
      }

      padding-bottom: 2%;
      background-color: black;
      width: 100%;
      height: 30%;

      img.avatar-holder {
        width: 75%;
        height: 75%;
        top: 0;
        left: 0;
        margin-left: 13%;
        margin-right: 20%;
        position: relative;
      }

      margin-bottom: 20%;

    }

    button.corner-button {
      padding: 2%;
    }
  }
}

@media (max-device-height: 600px) and (max-width: 1279px) {
  div.main-container {
    header {
      .drawer-toggle-label {
        left: 85%;
        top: 0.5%;
      }
      nav.drawer {
        h1.mobile-logo {
          margin-top: 1%;
          margin-bottom: 4%;
        }
        .corner-button{
          margin-bottom: 0.5%;
          text-align: center;
          span {
            position: relative;
            font-size: medium;
          }
        }
      }
    }
  }
}

@media (min-device-height: 600px) and (max-device-height: 700px) and (max-width: 1279px) {
  div.main-container {
    header {
      .drawer-toggle-label {
        left: 86%;
        top: 0.7%;
      }
      nav.drawer {
        h1.mobile-logo {
          margin-top: 1%;
          margin-bottom: 7%;
        }
        .corner-button{
          margin-bottom: 1.2%;
        }
      }
    }
  }
}

@media (min-device-height: 701px) and (max-device-height: 800px) and (max-width: 1279px) {
  div.main-container {
    header {
      .drawer-toggle-label {
        left: 85%;
        top: 0.5%;
      }
      nav.drawer {
        h1.mobile-logo {
          margin-top: 1%;
          margin-bottom: 9%;
        }
        .corner-button{
          margin-bottom: 2%;
        }
      }
    }
  }
}

@media (min-device-height: 801px) and (max-width: 1279px){
  div.main-container {
    header {
      .drawer-toggle-label {
        left: 85%;
        top: 2%;
      }
      nav.drawer {
        h1.mobile-logo {
          margin-top: 5%;
          margin-bottom: 9%;
        }
      }
    }
  }
}

@media (min-width: 425px) and (max-width: 768px) and (max-device-height: 500px){

  div.main-container {
    main {
      header {
        .drawer-toggle-label {
          top: 1%;
          left: 89%;
        }
        nav.drawer {
          h1.mobile-logo {
            margin-top: 1%;
            margin-bottom: 1%;
          }
        }
      }
    }
  }

}

@media (min-width: 425px) and (max-width: 768px) and (min-device-height: 501px){

  div.main-container {
    main {
      header {
        .drawer-toggle-label {
          top: 1%;
          left: 89%;
        }
        nav.drawer {
          h1.mobile-logo {
            margin-top: 1%;
            margin-bottom: 4%;
          }
          .corner-button{
            margin-bottom: 0.7%;
            text-align: center;
          }
        }
      }
    }
  }

}

//@media (min-device-height: 1025px) and (max-width: 1800px){
//  div.main-container {
//    header {
//      nav.drawer {
//        h1.mobile-logo {
//          margin-top: 2.8%;
//          margin-bottom: 8%;
//          font-size: xxx-large;
//        }
//      }
//
//      button.corner-button {
//        font-size: xxx-large;
//        padding-top: 1.7%;
//        margin-bottom: 2%;
//      }
//    }
//  }
//}
