div.slide-up-down-enter{
  opacity: 1;
  top: -40%;
}

div.slide-up-down-enter-active{
  opacity: 1;
  top: 50%;
  transition: top 800ms ease-in-out;
}

div.slide-up-down-enter-done{
  opacity: 1;
  top: 50%;
}

div.slide-up-down-exit{
  opacity: 1;
  top: 50%;
}

div.slide-up-down-exit-active{
  opacity: 1;
  top: -40%;
  transition: top 800ms ease-in-out;
}

div.slide-up-down-exit-done{
  opacity: 1;
  top: -40%;
}
