.initialForm {
  /*----------- custom -----------*/

  .first-elem {
    margin-top: 10pt !important;
  }
  .form-button {
    text-align: center;
    margin: 15pt 10% 0 10% !important;
  }
  .upload-btn {
    text-align: center !important;
  }

  /*----------- scroll and corner -----------*/

  .ant-tabs-tabpane {
    max-height: 300pt;
    overflow-y: scroll;
    border-radius: 0 0 5pt 5pt;
  }

  .appbar-title{
    border-radius: 5pt 5pt 0 0 !important;
  }

  /*----------- form -----------*/

  .card-container {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /*position: fixed;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*background-color: white;*/
  }

  .card-container p {
    margin: 0;
  }

  /*----------- tabs initialForm -----------*/
  .ant-tabs-nav-wrap {
    background-color: white !important;
  }
  .ant-tabs-tabpane {
    width: 100%;
  }
  .card-container > div > .ant-tabs-card .ant-tabs-content {
    margin-top: -16px;
  }
  .card-container > div > .ant-tabs-card > .ant-tabs-nav::before {
    display: none;
  }

  /* color */
  .tab-list-active {
    background-color: white;
    border: solid #ccc;
    border-width: 1px 1px 0 1px;
  }
  .card-container > div > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
    padding: 16px;
    background: #fff;
    //background: rgba(255, 255, 255, 0.7);
  }
  .card-container > div > .ant-tabs-card .ant-tabs-tab-active,
  [data-theme='compact'] .card-container > .ant-tabs-card .ant-tabs-tab-active {
    background: #fff;
    border-color: #fff;
  }
  .ant-tabs-nav-operations {
    background: #fff;
  }

  /*----------- mobile -----------*/

  @media only screen
  and (min-device-width: 0px)
  and (max-device-width: 435px) {

    .ant-tabs-tabpane {
      width: 100% !important;
    }

    .card-container {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: auto;
        margin: 0 10%;
    }
  }

  /*----------- hide scrollbar -----------*/

  *{
    -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }

  /*----------- DaySelector -----------*/

  .anticon-minus-circle {
    margin-left: 5pt !important;
  }
  .ant-form-item-control-input-content {
    text-align: center !important;
  }
  .lesson-timetable-button {
    margin: 5pt 15pt 0 0;
  }

  .button-space {
    display: flex;
    width:100%;
  }
  .button-space > div {
    width: 50%;
    text-align: center !important;
  }

  .day-selector {
    background: #fff;
    padding: 1% 4%;
    border-radius: 0 0 5pt 5pt;
    max-height: 300pt;
    overflow-y: scroll;
  }


  .hour {
    width: 100%;
  }
  .hour-line {
    width: 92% !important;
  }
  @media (min-width: 575px) {
    .hour {
      width: auto;
    }
    .hour-line {
      width: 100% !important;
    }
  }

  .hour-line {
    display: flex;
    width: 100%;
  }

  .hour-line > div {
    width: 50%;
  }

  .hour-line > div > div {
    margin-bottom: 0;
  }

  .add-day {
    margin-top: 25pt;
  }

  .hours-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
  }
}

.hours-container > .appbar-title {
  padding: 1% 20% 3% 20%;
  white-space: nowrap;
}