.pop-up-buttons {
  display: flex;
  flex-direction: row-reverse;
  .choice-button{
    margin-left: 2px;
    box-shadow: none;
    background-color: #620024;
    color: white;
    border-radius: 5px;
    margin-bottom: 0;
  }
}
